
* {
  margin: 0;
  padding: 0;
}
section {
  background-color: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
section form {
  background-color: white;
  width: 300px;
  height: 200px;
}